/* conteneur principal */
.article {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
}
/* element du conteneur */
.article__figure {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 400px;
}
.article:nth-of-type(odd) .article__figure {
    background-color: rgb(43, 122, 191);
    order: -1;
}
.article__img {
    align-items: center;
    width: 100%;
}

.article__p {
    display: flex;
}

.article__figcaption {
    margin: 0;
    padding: 0;
}

.article__div {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 400px;
}
.article__h2 {
    width: 30%;
}