#chk-burger{
    display: none;
}
    .navigation{
        position: fixed;
        top: 20px;
        right: 20px;
        text-align: right;

    }
    .navigation__menu {
        background-color: #0006;
        padding: 10px;
    }

    .navigation__menu a{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: #0006;
        text-decoration: none;
        display: block;
        padding: 5px;
        margin: 5px;
        color: #fff;
        font-size: 2rem;
    }
.navigation__bouton{
    font-size: 3rem;
    color: white;
    cursor: pointer;

}

.navigation__menu{
    transform: translateX(100%);
    transition: transform 1s linear;

}

#chk-burger:checked ~ .navigation__menu{
    display: block;
    transform: translateX(0);
}